In [5]:
import pandas as pd
import requests

In [6]:
user_id = {}
df = pd.read_csv("ratings.csv")
users = df['userId']
id = int(1)
for x in users:
    user_id[x] = int(id)
    id+=1

In [7]:
new_col = []
for x in users:
    new_col.append(user_id[x])

In [8]:
new_col

[106,
 1576,
 3,
 1576,
 1561,
 6,
 1595,
 817,
 1576,
 649,
 11,
 923,
 727,
 709,
 728,
 1436,
 24,
 1595,
 1002,
 27,
 1595,
 22,
 23,
 24,
 1595,
 1002,
 27,
 28,
 29,
 30,
 31,
 1259,
 1594,
 1542,
 35,
 1243,
 37,
 453,
 1243,
 40,
 41,
 42,
 1436,
 122,
 45,
 1542,
 47,
 1576,
 1405,
 50,
 1312,
 462,
 680,
 326,
 55,
 696,
 57,
 613,
 59,
 1576,
 1576,
 1352,
 1243,
 1595,
 270,
 1464,
 67,
 68,
 1436,
 1277,
 71,
 1205,
 904,
 74,
 75,
 76,
 1513,
 78,
 1595,
 80,
 1436,
 1567,
 1569,
 955,
 1541,
 1541,
 1436,
 88,
 89,
 90,
 172,
 1561,
 93,
 1436,
 95,
 1352,
 97,
 106,
 817,
 108,
 514,
 1595,
 1595,
 112,
 1574,
 106,
 817,
 108,
 514,
 1595,
 1595,
 112,
 1574,
 1436,
 923,
 1595,
 1576,
 118,
 1286,
 120,
 121,
 122,
 1576,
 1352,
 453,
 1472,
 1472,
 1472,
 129,
 1576,
 1243,
 132,
 1576,
 1036,
 850,
 136,
 1595,
 1542,
 1456,
 1576,
 312,
 1576,
 1436,
 1569,
 145,
 265,
 1595,
 802,
 1576,
 190,
 1436,
 1540,
 153,
 424,
 740,
 156,
 490,
 1542,
 1576,
 160,
 1576,
 1542,
 1352,
 1436,
 1013,
 840,
 167,
 168,
 1436,
 1542,
 172,
 172,
 173,
 1077,
 730,
 1436,
 907,
 1286,
 1077,
 1243,
 1595,
 1472,
 1126,
 184,
 1542,
 1576,
 1331,
 188,
 356,
 190,
 1243,
 1542,
 1595,
 1542,
 1436,
 1594,
 1243,
 1542,
 1576,
 1312,
 718,
 1576,
 206,
 1456,
 1436,
 206,
 1456,
 1436,
 1594,
 1259,
 211,
 278,
 213,
 1542,
 1595,
 1576,
 1576,
 218,
 219,
 907,
 1246,
 222,
 778,
 224,
 1456,
 1595,
 227,
 1542,
 1595,
 230,
 231,
 1513,
 361,
 1576,
 1243,
 1576,
 237,
 1542,
 923,
 240,
 1576,
 242,
 923,
 412,
 1595,
 1576,
 247,
 248,
 249,
 250,
 728,
 1259,
 1464,
 254,
 1436,
 1168,
 257,
 1576,
 259,
 1576,
 1456,
 866,
 1243,
 264,
 265,
 1569,
 267,
 1436,
 269,
 270,
 1217,
 1542,
 1594,
 274,
 1542,
 1002,
 277,
 278,
 1594,
 1576,
 281,
 1168,
 1594,
 1554,
 285,
 286,
 287,
 1576,
 1595,
 290,
 1595,
 413,
 293,
 758,
 295,
 1436,
 297,
 298,
 1576,
 1352,
 301,
 302,
 989,
 1436,
 923,
 923,
 1542,
 1576,
 1243,
 310,
 938,
 312,
 313,
 1522,
 1595,
 966,
 317,
 1464,
 1576,
 320,
 1253,
 1576,
 1595,
 1595,
 1524,
 326,
 1456,
 328,
 329,
 1290,
 696,
 332,
 1542,
 892,
 1352,
 477,
 1595,
 338,
 630,
 340,
 1233,
 1576,
 1542,
 1576,
 1286,
 1436,
 347,
 348,
 928,
 1243,
 1286,
 352,
 424,
 354,
 1595,
 356,
 1352,
 1312,
 359,
 1595,
 361,
 740,
 363,
 364,
 1405,
 366,
 1595,
 1542,
 1576,
 370,
 1405,
 1436,
 1595,
 374,
 938,
 1436,
 1436,
 378,
 379,
 380,
 381,
 382,
 1576,
 1576,
 385,
 386,
 387,
 1513,
 1595,
 647,
 391,
 1286,
 1576,
 394,
 395,
 396,
 1595,
 398,
 989,
 1576,
 813,
 1436,
 1575,
 813,
 1436,
 1575,
 1569,
 1475,
 1576,
 410,
 1576,
 412,
 413,
 709,
 1542,
 728,
 1475,
 1594,
 419,
 420,
 421,
 1541,
 1594,
 424,
 1595,
 696,
 1576,
 428,
 1500,
 430,
 431,
 1595,
 696,
 1542,
 742,
 436,
 437,
 438,
 439,
 440,
 441,
 1456,
 727,
 1522,
 445,
 1286,
 1569,
 448,
 1595,
 1456,
 451,
 1542,
 453,
 454,
 1595,
 1559,
 457,
 1576,
 1594,
 788,
 481,
 462,
 1312,
 1352,
 1352,
 466,
 1542,
 1595,
 483,
 1576,
 1576,
 1576,
 1243,
 1542,
 475,
 476,
 477,
 1576,
 1243,
 480,
 481,
 482,
 483,
 484,
 1576,
 1290,
 487,
 1312,
 489,
 490,
 1576,
 1524,
 493,
 1586,
 1576,
 1243,
 1290,
 1290,
 1290,
 1243,
 1243,
 1524,
 1461,
 504,
 505,
 923,
 1567,
 923,
 509,
 510,
 1286,
 1576,
 513,
 514,
 904,
 727,
 709,
 709,
 519,
 520,
 521,
 1472,
 718,
 524,
 706,
 1540,
 788,
 802,
 1243,
 530,
 531,
 1542,
 1312,
 1576,
 1353,
 1554,
 923,
 1542,
 904,
 540,
 1542,
 1576,
 1594,
 1541,
 1464,
 546,
 1588,
 1594,
 549,
 550,
 551,
 552,
 1436,
 1286,
 1456,
 1569,
 557,
 1569,
 559,
 677,
 1405,
 1405,
 1542,
 1576,
 1576,
 1576,
 1576,
 1436,
 569,
 1542,
 1576,
 1576,
 923,
 923,
 1452,
 576,
 727,
 709,
 579,
 580,
 727,
 1576,
 1594,
 1542,
 587,
 1542,
 587,
 1405,
 938,
 590,
 1576,
 592,
 1567,
 1576,
 1595,
 596,
 1595,
 598,
 599,
 1576,
 1595,
 1595,
 603,
 1542,
 1352,
 1569,
 696,
 1464,
 609,
 610,
 611,
 1542,
 613,
 1233,
 615,
 1352,
 1576,
 904,
 1576,
 1595,
 1595,
 860,
 1228,
 1456,
 1595,
 626,
 627,
 1595,
 629,
 630,
 1233,
 1576,
 1233,
 1576,
 635,
 636,
 637,
 638,
 639,
 1279,
 641,
 1541,
 643,
 1569,
 1475,
 646,
 647,
 649,
 649,
 1576,
 1243,
 1594,
 1143,
 788,
 989,
 656,
 1464,
 1576,
 1595,
 1456,
 1542,
 662,
 1594,
 664,
 1595,
 1595,
 1576,
 668,
 669,
 1594,
 1524,
 673,
 673,
 674,
 675,
 1576,
 677,
 678,
 1576,
 680,
 727,
 709,
 1595,
 1576,
 1461,
 1542,
 692,
 693,
 1456,
 695,
 696,
 692,
 693,
 1456,
 695,
 696,
 697,
 1279,
 1036,
 1243,
 1524,
 1312,
 1554,
 907,
 705,
 706,
 923,
 727,
 709,
 923,
 1524,
 1312,
 1312,
 714,
 1524,
 1524,
 1595,
 718,
 1524,
 1576,
 1524,
 1576,
 1542,
 724,
 740,
 1464,
 727,
 728,
 1233,
 730,
 731,
 1250,
 1559,
 1312,
 1559,
 1312,
 1154,
 1542,
 740,
 740,
 1542,
 742,
 928,
 1542,
 1290,
 1542,
 747,
 748,
 920,
 1154,
 830,
 752,
 755,
 1576,
 755,
 1576,
 1594,
 758,
 1467,
 1405,
 1524,
 762,
 765,
 1312,
 765,
 1312,
 1570,
 1576,
 1542,
 1456,
 1542,
 1456,
 773,
 1542,
 1594,
 1576,
 777,
 778,
 1500,
 780,
 1576,
 1542,
 786,
 1576,
 1542,
 786,
 1594,
 788,
 1576,
 1243,
 1588,
 794,
 1588,
 794,
 1595,
 826,
 797,
 1352,
 799,
 966,
 1592,
 802,
 803,
 1561,
 1290,
 1576,
 807,
 866,
 1576,
 1576,
 1243,
 938,
 813,
 1436,
 1286,
 1576,
 817,
 1312,
 819,
 1595,
 1542,
 1576,
 1436,
 824,
 1594,
 826,
 1576,
 828,
 1312,
 830,
 1524,
 1286,
 1595,
 1595,
 1576,
 1243,
 1576,
 1595,
 1456,
 840,
 1576,
 842,
 1595,
 1542,
 845,
 1569,
 847,
 1576,
 1352,
 850,
 1576,
 1352,
 1290,
 1559,
 855,
 1233,
 1542,
 1576,
 859,
 860,
 861,
 1595,
 1542,
 1352,
 865,
 866,
 1542,
 904,
 1595,
 1542,
 1312,
 1290,
 1576,
 1077,
 1542,
 1594,
 1145,
 1436,
 1145,
 1228,
 1569,
 1595,
 1576,
 1077,
 1595,
 1260,
 1455,
 1436,
 1455,
 1436,
 1286,
 892,
 893,
 1576,
 1500,
 1576,
 1436,
 1576,
 1522,
 900,
 1594,
 1576,
 1595,
 904,
 1290,
 1576,
 907,
 1286,
 909,
 910,
 1455,
 912,
 1542,
 1542,
 1436,
 1576,
 1312,
 1576,
 1576,
 920,
 1576,
 922,
 923,
 1541,
 1576,
 926,
 1594,
 928,
 929,
 930,
 1595,
 1077,
 1136,
 1259,
 1456,
 960,
 937,
 938,
 1541,
 1155,
 1155,
 1068,
 1352,
 944,
 945,
 1542,
 1576,
 1464,
 949,
 950,
 1542,
 952,
 953,
 954,
 955,
 1576,
 957,
 1595,
 1436,
 960,
 1586,
 962,
 1576,
 1233,
 1594,
 966,
 967,
 1542,
 1576,
 970,
 1594,
 1594,
 979,
 1436,
 1436,
 1259,
 1576,
 1594,
 979,
 1436,
 1436,
 1259,
 1576,
 1595,
 1467,
 1524,
 1500,
 1467,
 989,
 1529,
 1576,
 1154,
 993,
 1588,
 1533,
 1542,
 1595,
 1077,
 999,
 1559,
 ...]

In [9]:
df['userId'] = new_col

In [10]:
df

                         name    tvId  userId  rating
0              Rick and Morty   60625     106     9.0
1              Rick and Morty   60625    1576    10.0
2              Grey's Anatomy    1416       3     1.0
3              Grey's Anatomy    1416    1576     1.0
4                The Simpsons     456    1561    10.0
...                       ...     ...     ...     ...
1592              Sanrio Boys   76140    1593     NaN
1593  The Good Karma Hospital   70112    1594    10.0
1594                    Curon  103849    1595     NaN
1595          The Shadow Line   37602    1597     7.0
1596          The Shadow Line   37602    1597     7.0

[1597 rows x 4 columns]

In [10]:
id

1598

In [11]:
df.to_csv('final_ratings.csv', index=False)

In [15]:
import pandas as pd
df = pd.read_csv("final_ratings.csv")
# Assuming 'df' is your DataFrame
df = df.dropna(subset=['rating'])
df = df.dropna(subset=['userId'])
df = df.dropna(subset=["tvId"])
df = df.dropna(subset=["name"])

In [16]:
df.to_csv("final_ratings.csv", index=False)

In [4]:
df = pd.read_csv("new_ratings.csv")
new_col = [x for x in range(1,1353)]
df['userId'] = new_col
df.to_csv("final_ratings.csv",index=False)

In [17]:
import pandas as pd

# Sample data for df1 and df2
data1 = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
data2 = [['p', 'q', 'r'], ['s', 't', 'u'], ['v', 'w', 'x']]

# Define column names
columns = ['col1', 'col2', 'col3']

# Create DataFrames
df1 = pd.DataFrame(data1, columns=columns)
df2 = pd.DataFrame(data2, columns=columns)

# Perform a Cartesian product (cross join)
result_df = pd.merge(df1.assign(key=1), df2.assign(key=1), on='key').drop('key', axis=1)

# Display the result
print(result_df)

  col1_x col2_x col3_x col1_y col2_y col3_y
0      a      b      c      p      q      r
1      a      b      c      s      t      u
2      a      b      c      v      w      x
3      d      e      f      p      q      r
4      d      e      f      s      t      u
5      d      e      f      v      w      x
6      g      h      i      p      q      r
7      g      h      i      s      t      u
8      g      h      i      v      w      x

In [18]:
import pandas as pd

# Sample data for df1 and df2
data1 = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
data2 = [['p', 'q', 'r'], ['s', 't', 'u'], ['v', 'w', 'x']]

# Define column names
columns = ['col1', 'col2', 'col3']

# Create DataFrames
df1 = pd.DataFrame(data1, columns=columns)
df2 = pd.DataFrame(data2, columns=columns)

# Concatenate rows from df1 and df2
result_df = pd.concat([df1, df2], ignore_index=True)

# Display the result
print(result_df)

  col1 col2 col3
0    a    b    c
1    d    e    f
2    g    h    i
3    p    q    r
4    s    t    u
5    v    w    x